In [2]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (1.1.0)
Requirement already satisfied: tensorboard in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from keras-tuner) (2.0.0)
Requirement already satisfied: ipython in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from keras-tuner) (7.31.1)
Requirement already satisfied: requests in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: kt-legacy in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from keras-tuner) (1.0.4)
Requirement already satisfied: packaging in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from keras-tuner) (21.3)
Requirement already satisfied: numpy in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from keras-tuner) (1.21.2)
Requirement already satisfied: scipy in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from keras-tuner) (1.7.3)
Requirement already satisfied: appnope in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (0.1.2)
Requirement already satisfied: pygments in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (2.11.2)
Requirement already satisfied: matplotlib-inline in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (0.1.3)
Requirement already satisfied: pickleshare in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (58.0.4)
Requirement already satisfied: traitlets>=4.2 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: backcall in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (3.0.27)
Requirement already satisfied: decorator in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from jedi>=0.16->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from pexpect>4.3->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: wcwidth in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from packaging->keras-tuner) (3.0.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from requests->keras-tuner) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from requests->keras-tuner) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from requests->keras-tuner) (2021.10.8)
Requirement already satisfied: markdown>=2.6.8 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from tensorboard->keras-tuner) (3.3.4)
Requirement already satisfied: werkzeug>=0.11.15 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from tensorboard->keras-tuner) (2.0.2)
Requirement already satisfied: protobuf>=3.6.0 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from tensorboard->keras-tuner) (3.19.1)
Requirement already satisfied: grpcio>=1.6.3 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from tensorboard->keras-tuner) (1.42.0)
Requirement already satisfied: six>=1.10.0 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from tensorboard->keras-tuner) (1.16.0)
Requirement already satisfied: absl-py>=0.4 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from tensorboard->keras-tuner) (0.15.0)
Requirement already satisfied: wheel>=0.26 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: importlib-metadata in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.10.0.2)

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler, LabelEncoder
import tensorflow as tf
import numpy as np
import sklearn as skl

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=["EIN", "NAME"])

In [5]:
# Generate our categorical variable lists
application_cat = df.dtypes[df.dtypes == "object"].index.tolist()

In [7]:
# Check the number of unique values in each column
df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [10]:
app_cnt = df[application_cat]["APPLICATION_TYPE"].value_counts()

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_cnt[app_cnt < 528].index)

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
class_cnt = df[application_cat]["CLASSIFICATION"].value_counts()
class_cnt

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_cnt[class_cnt < 101].index)

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(application_cat, 1)
df.head()

/Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other_x,APPLICATION_TYPE_T10_x,APPLICATION_TYPE_T19_x,APPLICATION_TYPE_T3_x,APPLICATION_TYPE_T4_x,APPLICATION_TYPE_T5_x,APPLICATION_TYPE_T6_x,...,INCOME_AMT_1-9999_y,INCOME_AMT_10000-24999_y,INCOME_AMT_100000-499999_y,INCOME_AMT_10M-50M_y,INCOME_AMT_1M-5M_y,INCOME_AMT_25000-99999_y,INCOME_AMT_50M+_y,INCOME_AMT_5M-10M_y,SPECIAL_CONSIDERATIONS_N_y,SPECIAL_CONSIDERATIONS_Y_y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
y = df["IS_SUCCESSFUL"].values
X = df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/thomaslawless/opt/anaconda3/envs/p37env/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=30,
        step=5), activation=activation, input_dim=96))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [29]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Oracle from existing project ./untitled_project/oracle.json

In [30]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=100,validation_data=(X_test_scaled,y_test))

Trial 61 Complete [00h 00m 50s]
val_accuracy: 0.7244315147399902

Best val_accuracy So Far: 0.7292128205299377
Total elapsed time: 00h 22m 04s
INFO:tensorflow:Oracle triggered exit

In [31]:
# Get top 3 model hyperparameters and print the values
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'tanh', 'first_units': 26, 'num_layers': 2, 'units_0': 21, 'units_1': 6, 'units_2': 26, 'units_3': 11, 'units_4': 21, 'tuner/epochs': 20, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'tanh', 'first_units': 11, 'num_layers': 5, 'units_0': 26, 'units_1': 16, 'units_2': 11, 'units_3': 21, 'units_4': 16, 'tuner/epochs': 7, 'tuner/initial_epoch': 0, 'tuner/bracket': 1, 'tuner/round': 0}
{'activation': 'tanh', 'first_units': 16, 'num_layers': 2, 'units_0': 26, 'units_1': 11, 'units_2': 21, 'units_3': 6, 'units_4': 21, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': 'd4f021b81c46837d3738ee4bcf2b2307'}

In [32]:
# Evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5617 - accuracy: 0.7292
Loss: 0.5509834414251344, Accuracy: 0.7292128205299377
8575/1 - 0s - loss: 0.5501 - accuracy: 0.7287
Loss: 0.554121636155743, Accuracy: 0.7287463545799255
8575/1 - 0s - loss: 0.5518 - accuracy: 0.7285
Loss: 0.5504934597501949, Accuracy: 0.7285131216049194

In [33]:
# Get second best model hyperparameters
second_hyper = tuner.get_best_hyperparameters(2)[1]
second_hyper.values

{'activation': 'tanh',
 'first_units': 11,
 'num_layers': 5,
 'units_0': 26,
 'units_1': 16,
 'units_2': 11,
 'units_3': 21,
 'units_4': 16,
 'tuner/epochs': 7,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 1,
 'tuner/round': 0}

In [34]:
# Compare the performance to the second-best model
second_model = tuner.get_best_models(2)[1]
model_loss, model_accuracy = second_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5501 - accuracy: 0.7287
Loss: 0.554121636155743, Accuracy: 0.7287463545799255

In [36]:
# Export our model to HDF5 file
model.save('Models/AlphabetSoupCharity_Optimzation_Top_Model.h5')
second_model.save('Models/AlphabetSoupCharity_Optimzation_Second_Model.h5')