
## Preprocessing

In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
drop_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
drop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [4]:
# Determine the number of unique values in each column.
print(drop_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_cnt = drop_df["APPLICATION_TYPE"].value_counts()
app_cnt

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_cnt[app_cnt < 528].index)

# Replace in dataframe
for app in application_types_to_replace:
    drop_df['APPLICATION_TYPE'] = drop_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
drop_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_cnt = drop_df["CLASSIFICATION"].value_counts()
class_cnt

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# create a Series of class_cnt with list and set as index
list(class_cnt[class_cnt < 75].index)

['C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_cnt[class_cnt < 75].index)

# Replace in dataframe
for cls in classifications_to_replace:
    drop_df['CLASSIFICATION'] = drop_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
drop_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      499
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
predict_dummies = pd.get_dummies(drop_df, dtype=float)
predict_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
X = predict_dummies.drop(columns=["IS_SUCCESSFUL"])
y = predict_dummies["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [23]:
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)
X_test = np.asarray(X_test)
y_test = np.asarray(y_test)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 51, activation = 'relu' , input_dim = 51 )) 

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 43, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 51)                2652
_________________________________________________________________
dense_10 (Dense)             (None, 43)                2236
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 44
=================================================================
Total params: 4,932
Trainable params: 4,932
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5763 - accuracy: 0.7171
Epoch 2/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5575 - accuracy: 0.7278
Epoch 3/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5553 - accuracy: 0.7270
Epoch 4/100
25724/25724 [==============================] - 1s 41us/sample - loss: 0.5528 - accuracy: 0.7292
Epoch 5/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5519 - accuracy: 0.7284
Epoch 6/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5507 - accuracy: 0.7286
Epoch 7/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5488 - accuracy: 0.7321
Epoch 8/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5481 - accuracy: 0.7301
Epoch 9/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5473 - accuracy: 0.7305
Epoch 10/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5468 - accuracy: 0.7320
Epoch 11/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5462 - accuracy: 0.7321
Epoch 12/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5461 - accuracy: 0.7312
Epoch 13/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5454 - accuracy: 0.7337
Epoch 14/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5445 - accuracy: 0.7342
Epoch 15/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5440 - accuracy: 0.7341
Epoch 16/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5440 - accuracy: 0.7345
Epoch 17/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5436 - accuracy: 0.7328
Epoch 18/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5432 - accuracy: 0.7353
Epoch 19/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5429 - accuracy: 0.7333
Epoch 20/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5422 - accuracy: 0.7343
Epoch 21/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5422 - accuracy: 0.7350
Epoch 22/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5419 - accuracy: 0.7350
Epoch 23/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5419 - accuracy: 0.7355
Epoch 24/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5411 - accuracy: 0.7347
Epoch 25/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5413 - accuracy: 0.7359
Epoch 26/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5409 - accuracy: 0.7355
Epoch 27/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5406 - accuracy: 0.7348
Epoch 28/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5406 - accuracy: 0.7360
Epoch 29/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5404 - accuracy: 0.7352
Epoch 30/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5402 - accuracy: 0.7350
Epoch 31/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5401 - accuracy: 0.7364
Epoch 32/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5397 - accuracy: 0.7355
Epoch 33/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5396 - accuracy: 0.7365
Epoch 34/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5398 - accuracy: 0.7357
Epoch 35/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5394 - accuracy: 0.7360
Epoch 36/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5396 - accuracy: 0.7365
Epoch 37/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5390 - accuracy: 0.7364
Epoch 38/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5389 - accuracy: 0.7361
Epoch 39/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5390 - accuracy: 0.7369
Epoch 40/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5389 - accuracy: 0.7365
Epoch 41/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5387 - accuracy: 0.7366
Epoch 42/100
25724/25724 [==============================] - 5s 181us/sample - loss: 0.5389 - accuracy: 0.7367
Epoch 43/100
25724/25724 [==============================] - 5s 212us/sample - loss: 0.5384 - accuracy: 0.7374
Epoch 44/100
25724/25724 [==============================] - 3s 134us/sample - loss: 0.5385 - accuracy: 0.7371
Epoch 45/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5377 - accuracy: 0.7363
Epoch 46/100
25724/25724 [==============================] - 4s 148us/sample - loss: 0.5384 - accuracy: 0.7359
Epoch 47/100
25724/25724 [==============================] - 4s 144us/sample - loss: 0.5377 - accuracy: 0.7367
Epoch 48/100
25724/25724 [==============================] - 3s 127us/sample - loss: 0.5375 - accuracy: 0.7368
Epoch 49/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5378 - accuracy: 0.7372
Epoch 50/100
25724/25724 [==============================] - 4s 157us/sample - loss: 0.5373 - accuracy: 0.7369
Epoch 51/100
25724/25724 [==============================] - 3s 123us/sample - loss: 0.5374 - accuracy: 0.7365
Epoch 52/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5374 - accuracy: 0.7378
Epoch 53/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5375 - accuracy: 0.7374
Epoch 54/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5369 - accuracy: 0.7372
Epoch 55/100
25724/25724 [==============================] - 4s 154us/sample - loss: 0.5374 - accuracy: 0.7383
Epoch 56/100
25724/25724 [==============================] - 4s 175us/sample - loss: 0.5365 - accuracy: 0.7370
Epoch 57/100
25724/25724 [==============================] - 4s 170us/sample - loss: 0.5369 - accuracy: 0.7380
Epoch 58/100
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5371 - accuracy: 0.7370
Epoch 59/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5368 - accuracy: 0.7378
Epoch 60/100
25724/25724 [==============================] - 4s 145us/sample - loss: 0.5365 - accuracy: 0.7362
Epoch 61/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5364 - accuracy: 0.7372
Epoch 62/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5369 - accuracy: 0.7375
Epoch 63/100
25724/25724 [==============================] - 2s 76us/sample - loss: 0.5364 - accuracy: 0.7372
Epoch 64/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5363 - accuracy: 0.7377
Epoch 65/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5368 - accuracy: 0.7376
Epoch 66/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5363 - accuracy: 0.7376
Epoch 67/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5364 - accuracy: 0.7381
Epoch 68/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5357 - accuracy: 0.7375
Epoch 69/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5363 - accuracy: 0.7377
Epoch 70/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5360 - accuracy: 0.7385
Epoch 71/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5357 - accuracy: 0.7392
Epoch 72/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5358 - accuracy: 0.7384
Epoch 73/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5356 - accuracy: 0.7382
Epoch 74/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5359 - accuracy: 0.7377
Epoch 75/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5357 - accuracy: 0.7389
Epoch 76/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5356 - accuracy: 0.7378
Epoch 77/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5353 - accuracy: 0.7390
Epoch 78/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5350 - accuracy: 0.7388
Epoch 79/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5353 - accuracy: 0.7376
Epoch 80/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5357 - accuracy: 0.7381
Epoch 81/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5355 - accuracy: 0.7379
Epoch 82/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5354 - accuracy: 0.7382
Epoch 83/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5353 - accuracy: 0.7392
Epoch 84/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5352 - accuracy: 0.7372
Epoch 85/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5351 - accuracy: 0.7382
Epoch 86/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5352 - accuracy: 0.7382
Epoch 87/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5346 - accuracy: 0.7376
Epoch 88/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5348 - accuracy: 0.7386
Epoch 89/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5347 - accuracy: 0.7391
Epoch 90/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5347 - accuracy: 0.7392
Epoch 91/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5347 - accuracy: 0.7390
Epoch 92/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5353 - accuracy: 0.7377
Epoch 93/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5347 - accuracy: 0.7386
Epoch 94/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5348 - accuracy: 0.7388
Epoch 95/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5346 - accuracy: 0.7390
Epoch 96/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5341 - accuracy: 0.7393
Epoch 97/100
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5344 - accuracy: 0.7382
Epoch 98/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5342 - accuracy: 0.7390
Epoch 99/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5342 - accuracy: 0.7386
Epoch 100/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5343 - accuracy: 0.7386

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.4977 - accuracy: 0.7375
Loss: 0.5457529301407038, Accuracy: 0.7374927401542664

In [38]:
# Export our model to HDF5 file
nn.save('Models/AlphabetSoupCharity.h5')